<div>
    <h2>Login</h2>
    <form id="login">
        <div class="form-group">
            <label for="input-username">Username:</label>
            <input name="input-username" class="login-username" id="input-username" type="text"/>
        </div>
        <div class="form-group">
            <label for="input-password">Password:</label>
            <input name="input-password" class="login-password" id="input-password" type="text"/>
        </div>
        <div class="form-group">
            <input class="btn btn-primary submit-button" value="Save" type="submit"/>
        </div>
    </form>
</div>
