<div class="col-md-6 offset-md-3">
    <h3> Add A New Plan </h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>User Id</label>
            <input type="text" class="form-control" id="name"
                [(ngModel)]="addplan.userId" name="userId"
            >
        
            <label>Device Id</label>
            <input type="text" class="form-control" id="phone"
            [(ngModel)]="addplan.deviceId" name="deviceId"
            >
    
            <label>Plan ID</label>
            <input type="text" class="form-control" id="userid"
            [(ngModel)]="addplan.planId" name="planId"
            >
        </div>
        <button class="btn btn-success" type="submit" >Submit</button>
    </form>
 </div>