<div class="plan">

    <div class="plan1">
        <h1 class="planName">UNLIMITED STARTER® PLAN</h1>
        <h2>$29.99</h2>
        <p>------------------PER MONTH ----------------</p>
        <p>Device Limit: 3</p>
        <p>Unlimited talk, text & data</p>
    </div>

    <div class="plan2">
            <h1 class="planName">UNLIMITED EXTRA® PLAN </h1>
            <h2>$59.99</h2>
            <p>------------------PER MONTH ----------------</p>
            <p>Device Limit: 5</p>
            <p>
                Unlimited talk, text, data + 50GB of Premium Data</p>
            <p></p>
    </div>

    <div class="plan3">
            <h1 class="planName">UNLIMITED PREMIUM℠ PLAN </h1>
            <h2>$99.99</h2>
            <p>------------------PER MONTH ----------------</p>
            <p>Device Limit: 8</p>
            <p>Unlimited talk, text, & high-speed data that can’t slow down based on how much you use</p>
    </div>

</div>